{% extends 'layout.html' %}
{% block body %}
<div class="container about"><p><span style="font-size: large; color: #0062cc;">FoodPanda Hong Kong &amp; Macau</span><br><br><span style="font-size: medium;">FoodPanda has been serving Hong Kong for over 30 years and its first restaurant was opened in 1981.&nbsp; In 1987, Jardine Matheson &amp; Co. Ltd. took over the Hong Kong FoodPanda franchise business and since then “Customer Mania” has been adopted as the corporate culture towards serving its customers with total dedication.</span></p>
<p><span style="font-size: medium;">FoodPanda is the largest pizza and pasta chain restaurant in Hong Kong, with over 4,000 employees being deployed to work in over 80 outlets throughout Hong Kong and Macau, including takeaway and delivery services.</span></p>

<p><span style="font-size: medium; color: #0062cc;"><strong>Our Vision</strong></span></p>
<p><span style="font-size: medium;">To become the leading aspiration casual dining restaurant chain in Hong Kong and Macau with unique European sensation, serving a wide range of relevant and delicious dishes with unsurpassed food quality and offering an environment where our customers can enjoy the European dining experience and a great time with friends and family.</span></p>
<p><span style="font-size: medium;">To sustain leading Pizza Delivery Provider in which our delivered quality pizzas and pasta are always hot and delivered on time.&nbsp;</span></p>
<p><span style="font-size: medium; color: #0062cc;"><strong>Our Mission</strong></span></p>
<ul>
<li><span style="font-size: medium;">With the "Customer Mania" corporate culture, we always do our best to make sure dining at FoodPanda is a sheer pleasure. We promise:</span></li>
<li><span style="font-size: medium;">To design and provide each and every dish in high quality</span></li>
<li><span style="font-size: medium;">To continuously introduce new food dishes to surprise and please our customers</span></li>
<li><span style="font-size: medium;">To always carry out our “Hot and On Time” delivery commitment</span></li>
<li><span style="font-size: medium;">To regularly review customer service so that our customers can enjoy the best of service all the time&nbsp;</span></li>
</ul>
<p>&nbsp;<span style="color: #0062cc;"><strong style="font-size: medium;">Our Story – 30 Years of Great Taste</strong></span>&nbsp;</p>
<table style="width: auto;" border="0" cellspacing="10" cellpadding="10">
<tbody>
<tr style="padding-right: 5px;" valign="top">
<td><span style="font-size: medium;"><strong>1981 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></span></td>
<td><span style="font-size: medium;">1st FoodPanda restaurant was opened in Tsim Sha Tsui East. In the past 30 years, the restaurant chain has grown into a total of 80 outlets across Hong Kong and Macau.</span></td>
</tr>
<tr valign="top">
<td><span style="font-size: medium;"><strong>1987</strong></span></td>
<td><span style="font-size: medium;">Jardine Matheson &amp; Co. Ltd. took over the Hong Kong FoodPanda franchise business.</span></td>
</tr>
<tr valign="top">
<td><span style="font-size: medium;"><strong>1989</strong></span></td>
<td><span style="font-size: medium;">1st FoodPanda restaurant in Macau was opened at Hotel Lisboa. Today there are a total of eight outlets in Macau.</span></td>
</tr>
<tr valign="top">
<td><span style="font-size: medium;"><strong>1992</strong></span></td>
<td><span style="font-size: medium;">1st Delivery Service Store was opened. It was a new business concept then and today FoodPanda has the largest delivery team in Hong Kong.</span></td>
</tr>
<tr valign="top">
<td><span style="font-size: medium;"><strong>2005</strong></span></td>
<td><span style="font-size: medium;">1st restaurant chain in Hong Kong that introduced one single hotline for delivery service.</span></td>
</tr>
<tr valign="top">
<td><span style="font-size: medium;"><strong>2006</strong></span></td>
<td><span style="font-size: medium;">1st restaurant chain to offer delivery service on the Internet.</span></td>
</tr>
<tr valign="top">
<td><span style="font-size: medium;"><strong>2010</strong></span></td>
<td><span style="font-size: medium;">Launched iPhone Apps, 1st mobile phone food ordering through Apps in Hong Kong. It won Top 10 Award from “2011 Hong Kong Marketing Smartphone Apps Popularity Contest”.</span></td>
</tr>
<tr valign="top">
<td><span style="font-size: medium;"><strong>2011</strong></span></td>
<td><span style="font-size: medium;">FoodPanda is successfully leaped to its 30th Year Anniversary. The company again won “The Service and Courtesy Award” for 17 consecutive years, organized by Hong Kong Retail Management Association.</span></td>
</tr>
</tbody>
</table>
<p style="width:100%"><img src="static/images/hk_macau.jpg" alt="" width="auto" height="auto"  style="width:100%;">&nbsp;</p>
<p>&nbsp;<br>&nbsp;</p></div>
{% endblock %}