{% extends 'layout.html' %} 
{% block body %}
<h1 class="page-title">Hot Menu</h1>

    <ul class="Product">
        <div class="card" style="width: 30.33%">
            <img class="card-img-top" src="{{url_for('static',filename='images/product-1.jpg')}}" />
            <div class="card-body">
                <h5 class="card-title">Royal Italia</h5>
                <h5> 
Italian<br>
Pizza<br>
European<br>
Western<br>
Dine-in Price</h1>
                <p class="card-text">$450</p>
               
                    <input type="hidden" name="productRec-id" value="">
                    <a style="display: block;text-align: center;"><button type="submit">Order</button></a>
               
            </div>
        </div>
        <div class="card" style="width: 30.33%">
            <img class="card-img-top" src="{{url_for('static',filename='images/product-2.jpg')}}" />
            <div class="card-body">
                <h5 class="card-title">Peak Cafe Bar</h5>
                <h5> 
Italian<br>
Pizza<br>
European<br>
Western<br>
Dine-in Price</h1>
                <p class="card-text">$350</p>
               
                    <input type="hidden" name="productRec-id" value="">
                    <a style="display: block;text-align: center;"><button type="submit">Order</button></a>
               
            </div>
        </div>
        <div class="card" style="width: 30.33%">
            <img class="card-img-top" src="{{url_for('static',filename='images/product-4.jpg')}}" />
            <div class="card-body">
                <h5 class="card-title">Babacio</h5>
                <h5> 
Italian<br>
Pizza<br>
European<br>
Western<br>
Dine-in Price</h1>
                <p class="card-text">$250</p>
               
                    <input type="hidden" name="productRec-id" value="">
                    <a style="display: block;text-align: center;"><button type="submit">Order</button></a>
               
            </div>
        </div>
        <div class="card" style="width: 30.33%">
            <img class="card-img-top" src="{{url_for('static',filename='images/product-5.jpg')}}" />
            <div class="card-body">
                <h5 class="card-title">Piccolo Pizzeria</h5>
                <h5> 
Italian<br>
Pizza<br>
European<br>
Western<br>
Dine-in Price</h1>
                <p class="card-text">$650</p>
               
                    <input type="hidden" name="productRec-id" value="">
                    <a style="display: block;text-align: center;"><button type="submit">Order</button></a>
               
            </div>
        </div>
        <div class="card" style="width: 30.33%">
            <img class="card-img-top" src="{{url_for('static',filename='images/product-6.jpg')}}" />
            <div class="card-body">
                <h5 class="card-title">La Terrazza Pizzeria</h5>
                <h5> 
Italian<br>
Pizza<br>
European<br>
Western<br>
Dine-in Price</h1>
                <p class="card-text">$450</p>
               
                    <input type="hidden" name="productRec-id" value="">
                    <a style="display: block;text-align: center;"><button type="submit">Order</button></a>
               
            </div>
        </div>
        <div class="card" style="width: 30.33%">
            <img class="card-img-top" src="{{url_for('static',filename='images/product-7.jpg')}}" />
            <div class="card-body">
                <h5 class="card-title">Big Mama</h5>
                <h5> 
Italian<br>
Pizza<br>
European<br>
Western<br>
Dine-in Price</h1>
                <p class="card-text">$550</p>
               
                    <input type="hidden" name="productRec-id" value="">
                    <a style="display: block;text-align: center;"><button type="submit">Order</button></a>
               
            </div>
        </div>
    </ul>


{% endblock %}
